@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3F3F3F;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.btn-modal {
    background: #D9D9D9;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.modal {
    background: #fff;
    position: relative;
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
}

.modal svg {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.modal svg:hover {
    fill: #ff0000;
}

.modal h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal p {
    font-size: 24px;
}

.hidden {
    display: none;
}

@media (max-width: 630px) {
    .modal {
        width: 350px;
        height: 600px;
    }
}