@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');                

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background: #1A1A1A;    
    color: #fff;                      
    display: flex;
    justify-content: center;
    align-items: center;                  
}

.calculator {
    background: #010101;
    border-radius: 20px;
    width: 320px;
    height: 500px;
    padding: 20px;
}

.display {
    display: flex;
    justify-content: end;    
    align-items: center;
    width: 100%;
    height: 50px;
    background: #fff;
    color: #000;
    padding: 8px;
    text-align: end;
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.buttons > .row {
    display: grid;
    gap: 12px;
    grid-template-columns: 60px 60px 60px 60px;
}

.buttons .row:first-child {
    display: grid;
    grid-template-columns: 132px 60px 60px;
}

.buttons .row:last-child {
    display: grid;
    grid-template-columns: 60px 60px 132px;
}

.buttons .row * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    font-size: 32px;       
    border: 0;
    cursor: pointer; 
}

.buttons .row .clear-all {
    width: 132px;
    text-transform: uppercase;            
}

.buttons .row .cleaners {
    background: #2D2D2F;
    color: #fff;
}   

.buttons .row .operators {
    background: #919191;
    color: #000;
}

.buttons .row .numbers {
    background: #171719;
    color: #fff;
}

.buttons .row .equals {
    width: 132px;
    background: #26A716;
    color: #000;
}