@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3F3F3F;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 540px;
    height: 400px;
    border-radius: 20px;
    background: #D9D9D9;
}

.counter p {
    font-size: 60px;
}

.counter .buttons1,
.counter .buttons2 {
    display: flex;
    gap: 20px;
}

.counter button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.counter button.increase {
    background: #59D670;
}

.counter button.decrease {
    background: #EF5252;
}

.counter button.save {
    background: #7868F1;
}

.counter button.load {
    background: #BAC559;
}

.counter button.reset {
    background: #7A7A7A;
}

@media screen and (max-width: 550px) {
    .counter {
        width: 340px;
        height: 540px;
    }

    .counter .buttons1,
    .counter .buttons2 {
        display: flex;
        flex-direction: column;
    }

    .counter button {
        width: 300px;
    }
}